In [1]:
import pandas as pd

import re
import preprocessor as p

In [2]:
df = pd.read_csv('sample_twitter.csv')

In [3]:
df.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,119237,105834,True,Wed Oct 11 06:55:44 +0000 2017,@AppleSupport causing the reply to be disregar...,119236,NaN
1,119238,ChaseSupport,False,Wed Oct 11 13:25:49 +0000 2017,@105835 Your business means a lot to us. Pleas...,NaN,119239.0
2,119239,105835,True,Wed Oct 11 13:00:09 +0000 2017,@76328 I really hope you all change but I'm su...,119238,NaN
3,119240,VirginTrains,False,Tue Oct 10 15:16:08 +0000 2017,@105836 LiveChat is online at the moment - htt...,119241,119242.0
4,119241,105836,True,Tue Oct 10 15:17:21 +0000 2017,@VirginTrains see attached error message. I've...,119243,119240.0

In [4]:
df.shape

(93, 7)

In [5]:
df.author_id.unique()

array(['105834', 'ChaseSupport', '105835', 'VirginTrains', '105836',
       'AppleSupport', '105837', '105838', '105839', 'SpotifyCares',
       '105840', '105841', 'British_Airways', '105842', '105843',
       '105844', 'O2', '82476', 'comcastcares', '105845', 'sprintcare',
       '105676', '105846', '105847', '105848', '105849', 'SouthwestAir',
       '105850', '105851', '105852', 'Ask_Spectrum', '105854', 'Tesco',
       '105855', '105856', '105857', 'HPSupport', '105858', 'UPSHelp',
       '105859', '105860', '105861'], dtype=object)

In [6]:
df.text.unique().size

93

In [7]:
df_content = df[['tweet_id', 'text']]

In [8]:
df_content.head()

   tweet_id                                               text
0    119237  @AppleSupport causing the reply to be disregar...
1    119238  @105835 Your business means a lot to us. Pleas...
2    119239  @76328 I really hope you all change but I'm su...
3    119240  @105836 LiveChat is online at the moment - htt...
4    119241  @VirginTrains see attached error message. I've...

In [9]:
# clean the dataset
def clean_tweets(column):
    # punctuations to be replaced
    REPLACE_NO_SPACE = re.compile("(\.)|(\;)|(\:)|(\!)|(\')|(\?)|(\,)|(\")|(\|)|(\()|(\))|(\[)|(\])|(\%)|(\$)|(\>)|(\<)|(\{)|(\})")
    REPLACE_WITH_SPACE = re.compile("(<br\s/><br\s/?)|(-)|(/)|(:).")
    tempArr = []
    for line in column:
        tmpL = p.clean(line)
        tmpL = REPLACE_NO_SPACE.sub("", tmpL.lower())
        tmpL = REPLACE_WITH_SPACE.sub(" ", tmpL)
        tempArr.append(tmpL)
    return tempArr

In [10]:
df_content['clean_text'] = clean_tweets(df_content['text'])

C:\Users\skryp\AppData\Local\Temp\ipykernel_7372\2153503314.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_content['clean_text'] = clean_tweets(df_content['text'])

In [11]:
df_content.head(15)

,tweet_id,text,clean_text
0,119237,@AppleSupport causing the reply to be disregar...,causing the reply to be disregarded and the ta...
1,119238,@105835 Your business means a lot to us. Pleas...,your business means a lot to us please dm your...
2,119239,@76328 I really hope you all change but I'm su...,i really hope you all change but im sure you w...
3,119240,@105836 LiveChat is online at the moment - htt...,livechat is online at the moment or contact ...
4,119241,@VirginTrains see attached error message. I've...,see attached error message ive tried leaving a...
5,119243,"@105836 Have you tried from another device, Mi...",have you tried from another device miriam ^mm
6,119244,"@VirginTrains yep, I've tried laptop too sever...",yep ive tried laptop too several times over th...
7,119245,"@105836 It's working OK from here, Miriam. Doe...",its working ok from here miriam does this link...
8,119242,@VirginTrains I still haven't heard &amp; the ...,i still havent heard &amp the number im direct...
9,119246,@105836 That's what we're here for Miriam ðŸ˜Š T...,thats what were here for miriam the team shoul...
10,119248,@105837 We can help. Which version of iOS are ...,we can help which version of ios are you on yo...
11,119249,"@105838 @AppleSupport Me too am suffering , ho...",me too am suffering hope the can find a solution
12,119250,"@AppleSupport hi #apple, Iâ€™ve a concern about ...",hi ive a concern about the latest ios is too ...
13,119252,@105839 Thanks for reaching out to us. We are ...,thanks for reaching out to us we are always ha...
14,119253,I just updated my phone and suddenly everythin...,i just updated my phone and suddenly everythin...

In [12]:
prepared_dataset = df_content[['tweet_id', 'clean_text']]

In [13]:
#prepared_dataset.to_csv('sample_twitter_prepared.csv', index=False)